*{
    margin-left: 5px;
    margin-right: 5px;
}

.navbar{
    width: 100%;
}
body{
    width: 100%;
}
.navbar-body{
    display: inline-block ;
    align-self: center;
    text-align: center;
}
.intro-body{
    border-radius: 30px;
    padding: 2px;
    margin-top: 80px;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.13);
}
.introh{
    font-size: 60px;
    color: #000000;
    text-shadow: 2px 2px rgba(219, 35, 35, 0.637);
}

.intro-text{
    text-align: center;
    margin-top: 0;
    font-size:large;
}

.fa{
    text-decoration: none;
    margin: 4px 19px;
    font-size: x-large;
    color: black;
    margin-left: 20px;
}

.fa-code{
    margin-left: 40px;
}

.resume{
    font-size: x-large;
    text-decoration: none;
    color: black;
    margin-left: 10px;
}
.fa:hover{
    color: crimson;
}


.photo{
    display: block;
    border-radius: 50%;
    height: 270px;
    width: 270px;
    margin: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.658);
}

.photo:hover{
    border-spacing: 2px;
    box-shadow: 0 4px 8px 0 rgb(44, 238, 252), 2px 6px 20px 0 rgb(44, 238, 252);
}
.intro{
    display: inline-block;
}
.skills{
    text-decoration: none;
}

.name{
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
    margin-top: 180px;
}

p{
    font-size: larger;
}

hr{
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
}

.about{
    font-weight: 500;
    margin: 10px 30px;
    margin-top: 50px;
    text-decoration: underline;
}

.skills ul li{
    display: inline-block;
    margin: 10px 25px;
    font-weight: 700;
    font-size: large;
    background-color: rgb(173, 222, 255);
    padding: 2px 4px;
    height: 30px;
    width: auto;
    border-radius: 7px;
}

h2{
    margin-left: 40px;
}

#visitor{
    text-align: center;
    text-shadow: 2px 1px #ffffff;
}
#aboutp{
    margin-left: 50px;
}

.icons ul li{
    display: inline-block;
    margin: 10px 40px;
}


#aboutexp{
    margin-left: 50px;
    color: rgb(255, 0, 0);
    font-weight: 400;
}


.exp li{
    margin-left: 55px;
    margin-top: 2px;
}

.projects li{
    margin-left: 55px;
    margin-top: 2px;
}

.project{
    margin-left: 60px;
}

.image li{
    display: inline-block;
    float: right;
    margin-top: 0;
    margin-left: 5px;
}

.image img{
    width: 70%;
    height: 70%;
}

.tech-body ul li{
    display: flex;
    display: inline-block;
    text-align: center;
    margin: 10px 10px;
}
.tech-body img{
    border: 2px solid rgba(37, 34, 34, 0.1);
    border-radius: 20px;
    margin-left: 75px;
    margin-right: 50px;
    height: 50%;
    width: 50%;
}

.tech-body img:hover{
    cursor: default;
    box-shadow: 0 4px 8px 0 rgb(12, 72, 128), 2px 6px 20px 0 rgb(12, 72, 128);
}

.tech-body{
    margin-top: 70px;
}
.exp-body{
    margin-top: 70px;
}

.projects-body{
    margin-top: 70px;
}

.trainings-body{
    margin-top: 70px;
}

.footer {
    height: 100px;
    width: 100%;
    margin-top: 70px;
    background-color: rgb(73, 72, 72);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-left: auto;
    margin-right: auto;
  }

.footer p{
    margin-top: 40px;
    text-align: center;
    color: aliceblue;
    margin-bottom: 0;
}
